<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.fantouch.libs"
    android:versionCode="10"
    android:versionName="2.8" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- CrashHandler弹出对话框 http://android.35g.tw/?p=191 -->

    <application
        android:name="me.fantouch.libs.crash.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="me.fantouch.libs.test.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.fantouch.libs.test.TestUpdateHelperActivity"
            android:label="自动更新模块测试" >
        </activity>
        <activity
            android:name="me.fantouch.libs.test.TestLogActivity"
            android:label="Log,Elog对比测试" >
        </activity>
        <activity
            android:name="me.fantouch.libs.test.TestCrashActivity"
            android:label="测试崩溃处理模块" >
        </activity>
        <activity
            android:name="me.fantouch.libs.test.TestIndicativeRadioGp"
            android:label="带游标的RadioGroup" >
        </activity>
        <activity
            android:name="me.fantouch.libs.test.TestIndicativeRadioGpByCode"
            android:label="带游标的RadioGroup" >
        </activity>

        <service android:name="me.fantouch.libs.test.SendService" >
        </service>
    </application>

</manifest>